{% extends 'base.html'%} {% block body %}

<div class="text-dark">
    <h2>Acerca de Nosotros</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus mollitia eaque, quod dolor ea quibusdam
        repellendus cum! Repudiandae natus quam veritatis odit nulla eligendi debitis facilis voluptate tenetur voluptatibus
        numquam laborum quisquam quasi cum accusantium temporibus, modi ipsa id voluptatem nam. Aut quisquam eligendi
        temporibus maxime voluptate excepturi itaque at minima accusantium totam magnam repellendus porro autem dicta neque,
        reprehenderit qui deleniti nam corrupti minus vel! Animi iste voluptate quidem libero ex perferendis asperiores
        tempora aspernatur vero! Dignissimos, recusandae dicta maxime, quis sequi, dolores et laudantium minus quo
        cupiditate tempora. Deserunt facere qui reiciendis distinctio esse accusamus, tempore amet quibusdam dolorem, autem
        totam veritatis, ea dolorum? Nemo et, quam impedit ad libero eaque deserunt, reiciendis maxime at expedita omnis
        enim eum non veritatis alias eligendi error soluta id illum? Quaerat iure eveniet accusantium eligendi amet ea
        necessitatibus aliquid nostrum ipsa voluptatibus eaque, nobis tempora maxime doloribus provident tenetur, voluptatem
        sunt repellat repudiandae. Quasi accusantium ab officia natus incidunt laudantium ipsum, illum culpa repudiandae
        voluptates voluptate sit aspernatur modi nihil, odio optio. Exercitationem alias provident ad aliquid, id magni
        impedit ipsum repudiandae adipisci expedita. Tempora quas laboriosam rem nam? Cum eum labore fugiat eaque aut
        nostrum ut non ipsum sunt praesentium distinctio, quas sed autem esse numquam beatae rerum earum tenetur rem dolorem
        magni. Ducimus voluptatem necessitatibus possimus delectus enim tenetur placeat, non facilis dignissimos fuga porro
        consequatur ipsam sit ratione veniam velit consequuntur quisquam minima ex ipsa, numquam natus beatae nobis dolores.
        Aliquid, velit fuga sequi autem impedit assumenda voluptas doloribus? Ipsum cupiditate unde dolores consequatur
        facilis ea alias voluptas debitis ad numquam officiis, delectus libero est odit voluptatibus rerum. Ratione
        adipisci, maiores, rem soluta optio blanditiis veniam magnam mollitia rerum sit nostrum porro? Accusamus esse
        expedita quae ad laudantium? Neque, saepe esse consequuntur sint similique expedita commodi tempore harum!</p>
</div>    


{% endblock %}